$back: #241D1C;
$text: #F6F3E3;
$grey-text: #BFBDB2;
$grey: #BFBDB2;
$bg: #241D1C;


@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 560px) {
    @content;
  }
}



