.about {
  padding: 62px 0;

  @include tablet {
    padding: 40px 0;
  }
  @include mobile {
    padding: 32px 0;
  }

  // .abaut__title

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
    text-transform: uppercase;
    max-width: 693px;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  // .abaut__description

  &__description {
    line-height: 150%;
    color: $grey-text  !important;
    margin-bottom: 72px;
    max-width: 693px;

    @include laptop {
      margin-bottom: 46px;
    }
    @include tablet {
      margin-bottom: 32px;
      font-size: 16px;
    }
    @include mobile {
      font-size: 12px;
    }
  }

  // .about__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    gap: 24px;

    @include laptop {
      grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
    }
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    @include mobile {
      grid-template-columns: minmax(272px, 1fr);
    }
  }

  // .aboute__item

  &__item {
    padding: 6px 0 6px 96px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px;
    min-height: 80px;

    // .aboute__item_top
    &_top {
      background-image: url("./../img/top.svg");
    }

    // .aboute__item_master
    &_master {
      background-image: url("./../img/master.svg");
    }
    
    // .aboute__item_guarantee

    &_guarantee {
      background-image: url("./../img/guarantee.svg");
    }

    @include laptop {
      padding-top: 96px;
      background-position: top left;
      padding-left: 0;
    }
    @include tablet {
      padding-left: 96px;
      padding-top: 0;
      background-position: left;
    }
    @include mobile {
      background-size: 64px;
      min-height: 64px;
      padding-left: 72px;
    }
  }



  // .about__item-title

  &__item-title {
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include tablet {
      font-size: 16px;
    }
  }

  // .about__item-descripyion

  &__item-descripyion {
    font-size: 16px;
    line-height: 130%;
    color: $grey-text;

    @include mobile {
      font-size: 12px;
    }
  }


}