.radio {

  // .radio__input

  &__input {
    position: absolute;
    appearance: none;

    &:focus + .radio__label,
    &:checked + .radio__label {
      color: #241D1C;
      background-color: #F6F3E3;
    }
    &:disabled + .radio__label {
      opacity: 0.3;
    }
  }


  // .radio__label

  &__label {
    display: inline-block;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    border: 1px solid #BFBDB2;
    border-radius: 36px;
    padding: 16px 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include tablet {
      font-size: 12px;
      padding: 12px 16px;
    }



    &:hover:not(:disabled) {
      color: #EFE7BE;
    }

    // .radio__label_spec
    &_spec {
      position: relative;
      display: flex;
      height: 58px;

      align-items: center;
      padding-left: 44px;

      @include tablet {
        height: 38px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    max-width: 36px;
    border-radius: 50%;

    @include tablet {
      max-width: 24px;
    }
  }

  &__name {
    padding-left: 10px;

    @include tablet {
      padding-left: 20px;
    }
  }
}


