.reserve {
  padding-top: 62px 0 124px;

  @include tablet {
    padding: 40px 0 80px;
  }
  @include mobile {
    padding: 32px 0 34px;
  }

  // .reserve__title

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablet {
      font-size: 32px;
    }
  }

  // .reserve__list

  &__list {
    margin-bottom: 72px;
    padding-left: 24px;
  }

  // .reserve__item

  &__item {
    font-weight: 400;
    line-height: 150%;
    color: $grey-text;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // .reserve__form-container

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 72px;

    @include tablet {
      gap: 40px;
    }
    @include mobile {
      gap: 32px;
    }
  }

  // .reserve__fieldset

  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: none;
    gap: 8px;

    @include mobile {
      gap: 4px;
    }

    &_last {
      flex-direction: column;
      gap: 24px;

      @include mobile {
        gap: 20px;
      }
    }
  }

  // .reserve__legend

  &__legend {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include tablet {
      font-size: 16px;
    }
  }


  // .reserve__btn

  &__btn {
    margin-top: 40px;
  }

  &__accses {
    padding-top: 20px;
  }
}

